.Preview__tabs {
  color: inherit;
  padding: 0 0.5rem;
  h4 {
    font-size: 1rem;
    margin-bottom: 0;
  }
  > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  }
  .ant-tabs-ink-bar {
    background: $primaryColor;
  }
}

.Preview__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.TokenSale {
  background: rgba(255,255,255,0.08);
  color: $defaultFontColor;
  border: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  @media (min-width: $lg) {
    height: calc(406px + 1rem);
  }
  &:hover {
    transform: scale(1.04);
    color: inherit;
    background: rgba(255,255,255,0.16);
  }
}

.TokenSale__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.375rem;
  .ant-badge-status-dot {
    width: 0.875rem;
    height: 0.875rem;
  }
}

.TokenSale__badge {
  width: 110px;
  padding: 0.250rem 0.5rem;
  border-radius: 1rem;
  background-color: $secondaryColor;
  color: $defaultFontColor;
  font-weight: 500;
  display: flex;
  justify-content: center;
  .ant-badge-status-text {
    margin-left: 0.5rem;
  }
}

.TokenSale__title {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  > h4 {
    font-size: 1.75rem;    
    line-height: 1.875rem;
  }
}

.TokenSale__icon {
  margin: 0 0.875rem 0 -2px;
  width: 35px;
  height: 35px;
}

.TokenSale__description {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0.425rem;
  min-height: 3.563rem;
}

.TokenSale__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.TokenSale__list {
  list-style-type: none;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
  border-top: $tableBorder;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  > li {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
}

.TokenSale__label {
  font-weight: 300;
  font-size: 0.875rem;
}

.TokenSale__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: $tableBorder;
  padding-top: 1rem;
}

.TokenSale__tempImage {
  margin-bottom: 1rem;
  padding: 1rem 0.75rem;
  background: #151325;
  border-radius: 0.5rem;
  > img {
    max-width: 100%;
  }
}

.Icon__polkastarter {
  width: 180px;
  height: auto;
}