.LoadingFrame {
  width: 100%;
  height: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoadingFrame__inner {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dotcolor {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin: 0px 10px;
  animation: colors 1.3s ease-in-out infinite;
}

@keyframes colors {
  0%,
  100% {
    background-color: #efc2d3;
    transform: initial;
  }

  50% {
    transform: translateY(-20px);
    background-color: #FF0079;
  }
}

.dotcolor:nth-child(2) {
  animation-delay: -1.1s;
}

.dotcolor:nth-child(3) {
  animation-delay: -0.9s;
}